<div id="basic-div">
  <form class="bd-example">
    <fieldset>
      <p>
        <label>
          {{this.selectedOption}}
        </label>
      </p>
      <p>
        <label>
          <input [(ngModel)]="this.selectedOption" type="radio" name="optionsRadios" id="optionsRadios1" [value]="'option1'">
          Option 1
        </label>
        <label>
          <input [(ngModel)]="this.selectedOption" type="radio" name="optionsRadios" id="optionsRadios2" [value]="'option2'">
          Option 2.
        </label>
      </p>
    </fieldset>

  </form>

</div>
